<?xml version="1.0" encoding="UTF-8"?>
<eCH-0217:VATDeclaration xsi:schemaLocation="http://www.ech.ch/xmlns/eCH-0217/1 eCH-0217-1-0.xsd" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/5" xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097/3" xmlns:eCH-0217="http://www.ech.ch/xmlns/eCH-0217/1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <eCH-0217:generalInformation>
        <eCH-0217:uid>
            <eCH-0097:uidOrganisationIdCategorie>CHE</eCH-0097:uidOrganisationIdCategorie>
            <eCH-0097:uidOrganisationId>{{ uid }}</eCH-0097:uidOrganisationId>
        </eCH-0217:uid>
        <eCH-0217:organisationName>{{ company }}</eCH-0217:organisationName>
        <eCH-0217:generationTime>{{ frappe.utils.get_datetime(generation_datetime).strftime('%Y-%m-%dT%H:%M:%SZ') }}</eCH-0217:generationTime>
        <eCH-0217:reportingPeriodFrom>{{ frappe.utils.get_datetime(from_date).strftime('%Y-%m-%d') }}</eCH-0217:reportingPeriodFrom>
        <eCH-0217:reportingPeriodTill>{{ frappe.utils.get_datetime(to_date).strftime('%Y-%m-%d') }}</eCH-0217:reportingPeriodTill>
        <eCH-0217:typeOfSubmission>1</eCH-0217:typeOfSubmission>
        <eCH-0217:formOfReporting>1</eCH-0217:formOfReporting>
        <eCH-0217:businessReferenceId>{{ title }}</eCH-0217:businessReferenceId>
        <eCH-0217:sendingApplication>
            <eCH-0058:manufacturer>libarcore AG</eCH-0058:manufacturer>
            <eCH-0058:product>libracore business software</eCH-0058:product>
            <eCH-0058:productVersion>2023</eCH-0058:productVersion>
        </eCH-0217:sendingApplication>
    </eCH-0217:generalInformation>
    <eCH-0217:turnoverComputation>
        <eCH-0217:totalConsideration>{{ "{:.2f}".format(z200 or 0) }}</eCH-0217:totalConsideration>
        <eCH-0217:suppliesToForeignCountries>{{ "{:.2f}".format(z220 or 0) }}</eCH-0217:suppliesToForeignCountries>
        <eCH-0217:suppliesAbroad>{{ "{:.2f}".format(z221 or 0) }}</eCH-0217:suppliesAbroad>
        <eCH-0217:transferNotificationProcedure>{{ "{:.2f}".format(z225 or 0) }}</eCH-0217:transferNotificationProcedure>
        <eCH-0217:suppliesExemptFromTax>{{ "{:.2f}".format(z230 or 0) }}</eCH-0217:suppliesExemptFromTax>
        <eCH-0217:reductionOfConsideration>{{ "{:.2f}".format(z235 or 0) }}</eCH-0217:reductionOfConsideration>
    </eCH-0217:turnoverComputation>
    <eCH-0217:effectiveReportingMethod>
        <eCH-0217:grossOrNet>1</eCH-0217:grossOrNet>
        <eCH-0217:opted>0.00</eCH-0217:opted>
        <eCH-0217:suppliesPerTaxRate>
            <eCH-0217:taxRate>8.1</eCH-0217:taxRate>
            <eCH-0217:turnover>{{ "{:.2f}".format(z303 or 0) }}</eCH-0217:turnover>
        </eCH-0217:suppliesPerTaxRate>
        <eCH-0217:suppliesPerTaxRate>
            <eCH-0217:taxRate>2.6</eCH-0217:taxRate>
            <eCH-0217:turnover>{{ "{:.2f}".format(z313 or 0) }}</eCH-0217:turnover>
        </eCH-0217:suppliesPerTaxRate>
        <eCH-0217:suppliesPerTaxRate>
            <eCH-0217:taxRate>3.8</eCH-0217:taxRate>
            <eCH-0217:turnover>{{ "{:.2f}".format(z343 or 0) }}</eCH-0217:turnover>
        </eCH-0217:suppliesPerTaxRate>
        <eCH-0217:suppliesPerTaxRate>
            <eCH-0217:taxRate>7.7</eCH-0217:taxRate>
            <eCH-0217:turnover>{{ "{:.2f}".format(z302 or 0) }}</eCH-0217:turnover>
        </eCH-0217:suppliesPerTaxRate>
        <eCH-0217:suppliesPerTaxRate>
            <eCH-0217:taxRate>2.5</eCH-0217:taxRate>
            <eCH-0217:turnover>{{ "{:.2f}".format(z312 or 0) }}</eCH-0217:turnover>
        </eCH-0217:suppliesPerTaxRate>
        <eCH-0217:suppliesPerTaxRate>
            <eCH-0217:taxRate>3.8</eCH-0217:taxRate>
            <eCH-0217:turnover>{{ "{:.2f}".format(z342 or 0) }}</eCH-0217:turnover>
        </eCH-0217:suppliesPerTaxRate>
        <eCH-0217:acquisitionTax>
            <eCH-0217:taxRate>{{ "{:.2f}".format(acquisition_rate or 0) }}</eCH-0217:taxRate>
            <eCH-0217:turnover>{{ "{:.2f}".format(z383 or z382 or 0) }}</eCH-0217:turnover>
        </eCH-0217:acquisitionTax>
        <eCH-0217:inputTaxMaterialAndServices>{{ "{:.2f}".format(z400 or 0) }}</eCH-0217:inputTaxMaterialAndServices>
        <eCH-0217:inputTaxInvestments>{{ "{:.2f}".format(z405 or 0) }}</eCH-0217:inputTaxInvestments>
        <eCH-0217:subsequentInputTaxDeduction>{{ "{:.2f}".format(z410 or 0) }}</eCH-0217:subsequentInputTaxDeduction>
        <eCH-0217:inputTaxCorrections>{{ "{:.2f}".format(z415 or 0) }}</eCH-0217:inputTaxCorrections>
        <eCH-0217:inputTaxReductions>{{ "{:.2f}".format(z420 or 0) }}</eCH-0217:inputTaxReductions>
    </eCH-0217:effectiveReportingMethod>
    <eCH-0217:payableTax>{{ "{:.2f}".format(z500 or 0) }}</eCH-0217:payableTax>
    <eCH-0217:otherFlowsOfFunds>
        <eCH-0217:subsidies>{{ "{:.2f}".format(z900 or 0) }}</eCH-0217:subsidies>
        <eCH-0217:donations>{{ "{:.2f}".format(z910 or 0) }}</eCH-0217:donations>
    </eCH-0217:otherFlowsOfFunds>
</eCH-0217:VATDeclaration>
