<table  class="table">
    <tr>
        <th>{{ __("Date") }}</th>
        <th>{{ __("Amount") }}</th>
        <th>{{ __("Reference") }}</th>
        <th>{{ __("Action") }}</th>
    </tr>
    {% for transaction in transactions %}
    <tr id="row-transaction-{{ transaction.txid }}">
        <td>{{ transaction.date }}</td>
        <td>
            {% if transaction.credit_debit == "DBIT" %}
                <span class="octicon octicon-repo-pull"></span>
            {% else %}
                <span class="octicon octicon-repo-push"></span>
            {% endif %}
            {{ transaction.currency }} {{ transaction.amount }}
        </td>
        <td>{{ transaction.transaction_reference }}</td>
        <td>
          <button type="submit" class="btn btn-sm btn-primary" id="btn-close-intermediate-{{ transaction.txid }}">{{ __("Close against intermediate") }}</button>
          <!-- frappe.bank_wizard.receive_to_intermediate(100, '2018-09-22', 'ZKB - LC', 'ZKB - LC', '123456'); -->
        </td>
    </tr>
    {% endfor %}
</table>
