{% if view_type == "single" %}
<table id="time_overview_table" style="width: 100%;">
    <thead>
        <tr>
            <th style="text-align: center;">{{ __("Target Time") }}</th>
            <th style="text-align: center;">{{ __("Actual Time") }}</th>
            <th style="text-align: center;">{{ __("Difference") }}</th>
            <th style="text-align: center;">{{ __("Holiday Balance") }}</th>
        </tr>
    </thead>
    <tbody>
        {% if data %}
            <tr>
                <td style="text-align: center;">{{ data.target }}</td>
                <td style="text-align: center;">{{ data.actual }}</td>
                <td style="text-align: center;">{{ (data.actual - data.target) }}</td>
                <td style="text-align: center;">{{ data.holiday_balance }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endif %}
{% if view_type == "all" %}
<table id="time_overview_table" style="width: 100%;">
    <thead>
        <tr>
            <th>{{ __("Employee") }}</th>
            <th style="text-align: center;">{{ __("Target Time") }}</th>
            <th style="text-align: center;">{{ __("Actual Time") }}</th>
            <th style="text-align: center;">{{ __("Difference") }}</th>
            <th style="text-align: center;">{{ __("Holiday Balance") }}</th>
        </tr>
    </thead>
    <tbody>
        {% if dataset %}
            {% for data in dataset %}
                <tr>
                    <td><a href="/desk#Form/Employee/{{ data.employee }}" target="_blank">{{ data.employee_name }} ({{ data.employee }})</a></td>
                    <td style="text-align: center;">{{ data.target }}</td>
                    <td style="text-align: center;">{{ data.actual }}</td>
                    <td style="text-align: center;">{{ (data.actual - data.target) }}</td>
                    <td style="text-align: center;">{{ data.holiday_balance }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endif %}
